Integration Google Forms.blueprint.json
{
    "name": "Integration Google Forms",
    "flow": [
        {
            "id": 2,
            "module": "google-forms:watchResponses",
            "version": 2,
            "parameters": {
                "limit": 1,
                "formId": "1uOkuf7iSn5GlJHYJkE350ISaC0VO5SYzzsoO9y5aomY",
                "__IMTCONN__": 13457473
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -1098,
                    "y": -56
                },
                "restore": {
                    "parameters": {
                        "formId": {
                            "rpcSearch": {
                                "label": "recive",
                                "value": "1uOkuf7iSn5GlJHYJkE350ISaC0VO5SYzzsoO9y5aomY"
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "samiissa4011@gmail.com (samiissa4011@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "createTime",
                        "type": "date",
                        "label": "Create Time"
                    },
                    {
                        "name": "lastSubmittedTime",
                        "type": "date",
                        "label": "Last Submitted Time"
                    },
                    {
                        "name": "respondentEmail",
                        "type": "text",
                        "label": "Respondent Email"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "76bf8e18",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "الاسم الكامل"
                            },
                            {
                                "name": "644b1086",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "البريد الالكتروني"
                            },
                            {
                                "name": "1231df77",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "هل ترغب بالتسجيل"
                            }
                        ],
                        "type": "collection",
                        "label": "Answers"
                    },
                    {
                        "name": "totalScore",
                        "type": "number",
                        "label": "Total Score"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-email:sendAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 13436853
            },
            "mapper": {
                "to": [
                    "{{2.answers.`644b1086`.textAnswers.answers[].value}}"
                ],
                "content": "مرحبًا {{الاسم}}\r\n\r\nتم استلام بياناتك بنجاح.\r\nسنقوم بالتواصل معك قريبًا.\r\n\r\nشكرًا لك 🌸",
                "subject": "تم استلام طلبك",
                "bodyType": "rawHtml"
            },
            "metadata": {
                "designer": {
                    "x": -839,
                    "y": -32
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "from": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "email form (samiissa4011@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true,
                            "validate": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "CC recipients"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Recipient email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "BCC recipients"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 12901363
            },
            "mapper": {
                "from": "drive",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "limit": "1",
                "spreadsheetId": "1MDS20dFysBLi_IM_080YfHB-s-EgBjrPBCeq_dso6g4",
                "sheetId": "الورقة1",
                "includesHeaders": true,
                "tableFirstRow": "A1:Z1",
                "filter": [
                    [
                        {
                            "a": "B",
                            "o": "text:equal",
                            "b": "{{2.answers.`644b1086`.textAnswers.answers[].value}}"
                        }
                    ]
                ],
                "sortOrder": "asc"
            },
            "metadata": {
                "designer": {
                    "x": -552,
                    "y": -15
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "tasks (samiissa4011@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "hhll"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "الورقة1"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "name (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "email (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "confirm (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "(D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "(E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "(F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "(G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "(H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "(I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "(J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "(K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "(L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "(M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -226,
                    "y": -55
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 15,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 13436853
                            },
                            "filter": {
                                "name": "if",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{13.`__IMTLENGTH__`}}",
                                            "o": "number:greater",
                                            "b": "0"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "to": [
                                    "{{2.answers.`644b1086`.textAnswers.answers[].value}}"
                                ],
                                "content": "عذرا هذا الايميل موجود مسبقا وشكرا ",
                                "subject": "اهلا وسهلا بك ",
                                "bodyType": "rawHtml"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -63,
                                    "y": 211
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "email form (samiissa4011@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "CC recipients"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "BCC recipients"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 12901363
                            },
                            "filter": {
                                "name": "if",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{13.`__IMTLENGTH__`}}",
                                            "o": "text:equal",
                                            "b": "0"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "mode": "select",
                                "insertUnformatted": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertDataOption": "INSERT_ROWS",
                                "from": "drive",
                                "spreadsheetId": "/1MDS20dFysBLi_IM_080YfHB-s-EgBjrPBCeq_dso6g4",
                                "sheetId": "الورقة1",
                                "includesHeaders": true,
                                "values": {
                                    "0": "{{2.answers.`76bf8e18`.textAnswers.answers[].value}}",
                                    "1": "{{2.answers.`644b1086`.textAnswers.answers[].value}}",
                                    "2": "{{2.answers.`1231df77`.textAnswers.answers[].value}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 23,
                                    "y": -252
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "tasks (samiissa4011@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "hhll"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "الورقة1"
                                        },
                                        "includesHeaders": {
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "name (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "email (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "confirm (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "(D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ],
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "name (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "email (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "confirm (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "(D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 360,
                                    "y": -324
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 7,
                                            "module": "google-sheets:updateRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 12901363
                                            },
                                            "filter": {
                                                "name": "if",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{2.answers.`1231df77`.textAnswers.answers[].value}}",
                                                            "b": "نعم",
                                                            "o": "text:contain"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "from": "drive",
                                                "mode": "select",
                                                "values": {
                                                    "0": "تم بنجاح الارسال"
                                                },
                                                "sheetId": "الورقة2",
                                                "rowNumber": "{{4.updates.updatedRows}}",
                                                "spreadsheetId": "/1MDS20dFysBLi_IM_080YfHB-s-EgBjrPBCeq_dso6g4",
                                                "includesHeaders": true,
                                                "valueInputOption": "USER_ENTERED"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 639,
                                                    "y": -299
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "from": {
                                                            "label": "My Drive"
                                                        },
                                                        "mode": {
                                                            "label": "Search by path"
                                                        },
                                                        "sheetId": {
                                                            "label": "الورقة2"
                                                        },
                                                        "spreadsheetId": {
                                                            "path": [
                                                                "hhll"
                                                            ]
                                                        },
                                                        "includesHeaders": {
                                                            "label": "Yes",
                                                            "nested": [
                                                                {
                                                                    "name": "values",
                                                                    "spec": [
                                                                        {
                                                                            "name": "0",
                                                                            "type": "text",
                                                                            "label": "email (A)"
                                                                        },
                                                                        {
                                                                            "name": "1",
                                                                            "type": "text",
                                                                            "label": "(B)"
                                                                        },
                                                                        {
                                                                            "name": "2",
                                                                            "type": "text",
                                                                            "label": "(C)"
                                                                        },
                                                                        {
                                                                            "name": "3",
                                                                            "type": "text",
                                                                            "label": "(D)"
                                                                        },
                                                                        {
                                                                            "name": "4",
                                                                            "type": "text",
                                                                            "label": "(E)"
                                                                        },
                                                                        {
                                                                            "name": "5",
                                                                            "type": "text",
                                                                            "label": "(F)"
                                                                        },
                                                                        {
                                                                            "name": "6",
                                                                            "type": "text",
                                                                            "label": "(G)"
                                                                        },
                                                                        {
                                                                            "name": "7",
                                                                            "type": "text",
                                                                            "label": "(H)"
                                                                        },
                                                                        {
                                                                            "name": "8",
                                                                            "type": "text",
                                                                            "label": "(I)"
                                                                        },
                                                                        {
                                                                            "name": "9",
                                                                            "type": "text",
                                                                            "label": "(J)"
                                                                        },
                                                                        {
                                                                            "name": "10",
                                                                            "type": "text",
                                                                            "label": "(K)"
                                                                        },
                                                                        {
                                                                            "name": "11",
                                                                            "type": "text",
                                                                            "label": "(L)"
                                                                        },
                                                                        {
                                                                            "name": "12",
                                                                            "type": "text",
                                                                            "label": "(M)"
                                                                        },
                                                                        {
                                                                            "name": "13",
                                                                            "type": "text",
                                                                            "label": "(N)"
                                                                        },
                                                                        {
                                                                            "name": "14",
                                                                            "type": "text",
                                                                            "label": "(O)"
                                                                        },
                                                                        {
                                                                            "name": "15",
                                                                            "type": "text",
                                                                            "label": "(P)"
                                                                        },
                                                                        {
                                                                            "name": "16",
                                                                            "type": "text",
                                                                            "label": "(Q)"
                                                                        },
                                                                        {
                                                                            "name": "17",
                                                                            "type": "text",
                                                                            "label": "(R)"
                                                                        },
                                                                        {
                                                                            "name": "18",
                                                                            "type": "text",
                                                                            "label": "(S)"
                                                                        },
                                                                        {
                                                                            "name": "19",
                                                                            "type": "text",
                                                                            "label": "(T)"
                                                                        },
                                                                        {
                                                                            "name": "20",
                                                                            "type": "text",
                                                                            "label": "(U)"
                                                                        },
                                                                        {
                                                                            "name": "21",
                                                                            "type": "text",
                                                                            "label": "(V)"
                                                                        },
                                                                        {
                                                                            "name": "22",
                                                                            "type": "text",
                                                                            "label": "(W)"
                                                                        },
                                                                        {
                                                                            "name": "23",
                                                                            "type": "text",
                                                                            "label": "(X)"
                                                                        },
                                                                        {
                                                                            "name": "24",
                                                                            "type": "text",
                                                                            "label": "(Y)"
                                                                        },
                                                                        {
                                                                            "name": "25",
                                                                            "type": "text",
                                                                            "label": "(Z)"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Values"
                                                                }
                                                            ]
                                                        },
                                                        "valueInputOption": {
                                                            "mode": "chose",
                                                            "label": "User entered"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "tasks (samiissa4011@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "mode",
                                                        "type": "select",
                                                        "label": "Search Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "select",
                                                                "fromAll",
                                                                "map"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "valueInputOption",
                                                        "type": "select",
                                                        "label": "Value input option",
                                                        "validate": {
                                                            "enum": [
                                                                "USER_ENTERED",
                                                                "RAW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "Drive",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "drive",
                                                                "share",
                                                                "team"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "file",
                                                        "label": "Spreadsheet ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "sheetId",
                                                        "type": "select",
                                                        "label": "Sheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "rowNumber",
                                                        "type": "uinteger",
                                                        "label": "Row number",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includesHeaders",
                                                        "type": "select",
                                                        "label": "Table contains headers",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "values",
                                                        "spec": [
                                                            {
                                                                "name": "0",
                                                                "type": "text",
                                                                "label": "email (A)"
                                                            },
                                                            {
                                                                "name": "1",
                                                                "type": "text",
                                                                "label": "(B)"
                                                            },
                                                            {
                                                                "name": "2",
                                                                "type": "text",
                                                                "label": "(C)"
                                                            },
                                                            {
                                                                "name": "3",
                                                                "type": "text",
                                                                "label": "(D)"
                                                            },
                                                            {
                                                                "name": "4",
                                                                "type": "text",
                                                                "label": "(E)"
                                                            },
                                                            {
                                                                "name": "5",
                                                                "type": "text",
                                                                "label": "(F)"
                                                            },
                                                            {
                                                                "name": "6",
                                                                "type": "text",
                                                                "label": "(G)"
                                                            },
                                                            {
                                                                "name": "7",
                                                                "type": "text",
                                                                "label": "(H)"
                                                            },
                                                            {
                                                                "name": "8",
                                                                "type": "text",
                                                                "label": "(I)"
                                                            },
                                                            {
                                                                "name": "9",
                                                                "type": "text",
                                                                "label": "(J)"
                                                            },
                                                            {
                                                                "name": "10",
                                                                "type": "text",
                                                                "label": "(K)"
                                                            },
                                                            {
                                                                "name": "11",
                                                                "type": "text",
                                                                "label": "(L)"
                                                            },
                                                            {
                                                                "name": "12",
                                                                "type": "text",
                                                                "label": "(M)"
                                                            },
                                                            {
                                                                "name": "13",
                                                                "type": "text",
                                                                "label": "(N)"
                                                            },
                                                            {
                                                                "name": "14",
                                                                "type": "text",
                                                                "label": "(O)"
                                                            },
                                                            {
                                                                "name": "15",
                                                                "type": "text",
                                                                "label": "(P)"
                                                            },
                                                            {
                                                                "name": "16",
                                                                "type": "text",
                                                                "label": "(Q)"
                                                            },
                                                            {
                                                                "name": "17",
                                                                "type": "text",
                                                                "label": "(R)"
                                                            },
                                                            {
                                                                "name": "18",
                                                                "type": "text",
                                                                "label": "(S)"
                                                            },
                                                            {
                                                                "name": "19",
                                                                "type": "text",
                                                                "label": "(T)"
                                                            },
                                                            {
                                                                "name": "20",
                                                                "type": "text",
                                                                "label": "(U)"
                                                            },
                                                            {
                                                                "name": "21",
                                                                "type": "text",
                                                                "label": "(V)"
                                                            },
                                                            {
                                                                "name": "22",
                                                                "type": "text",
                                                                "label": "(W)"
                                                            },
                                                            {
                                                                "name": "23",
                                                                "type": "text",
                                                                "label": "(X)"
                                                            },
                                                            {
                                                                "name": "24",
                                                                "type": "text",
                                                                "label": "(Y)"
                                                            },
                                                            {
                                                                "name": "25",
                                                                "type": "text",
                                                                "label": "(Z)"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Values"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 10,
                                            "module": "google-email:sendAnEmail",
                                            "version": 4,
                                            "parameters": {
                                                "__IMTCONN__": 13436853
                                            },
                                            "filter": {
                                                "name": "if ",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{2.answers.`1231df77`.textAnswers.answers[].value}}",
                                                            "b": "لا",
                                                            "o": "text:contain"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "to": [
                                                    "{{2.answers.`644b1086`.textAnswers.answers[].value}}"
                                                ],
                                                "content": "شكرا لك",
                                                "subject": " عذرا لا تستطيع اكمال طلبك",
                                                "bodyType": "rawHtml"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 320,
                                                    "y": 56
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "cc": {
                                                            "mode": "chose"
                                                        },
                                                        "to": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "bcc": {
                                                            "mode": "chose"
                                                        },
                                                        "from": {
                                                            "mode": "chose"
                                                        },
                                                        "bodyType": {
                                                            "label": "Raw HTML"
                                                        },
                                                        "attachments": {
                                                            "mode": "chose"
                                                        },
                                                        "emailHeaders": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google-email"
                                                            },
                                                            "label": "email form (samiissa4011@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google-email",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "to",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true,
                                                            "validate": true
                                                        },
                                                        "type": "array",
                                                        "label": "To",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "subject",
                                                        "type": "text",
                                                        "label": "Subject"
                                                    },
                                                    {
                                                        "name": "bodyType",
                                                        "type": "select",
                                                        "label": "Body type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "rawHtml",
                                                                "collection"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "attachments",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "filename",
                                                                    "type": "filename",
                                                                    "label": "File name",
                                                                    "required": true,
                                                                    "semantic": "file:name"
                                                                },
                                                                {
                                                                    "name": "data",
                                                                    "type": "buffer",
                                                                    "label": "Data",
                                                                    "required": true,
                                                                    "semantic": "file:data"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Attachment"
                                                        },
                                                        "type": "array",
                                                        "label": "Attachments"
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "From"
                                                    },
                                                    {
                                                        "name": "cc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "CC recipients"
                                                    },
                                                    {
                                                        "name": "bcc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Recipient email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "BCC recipients"
                                                    },
                                                    {
                                                        "name": "emailHeaders",
                                                        "spec": {
                                                            "name": "value",
                                                            "spec": [
                                                                {
                                                                    "name": "key",
                                                                    "type": "text",
                                                                    "label": "Key",
                                                                    "required": true
                                                                },
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Value"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Email header"
                                                        },
                                                        "type": "array",
                                                        "label": "Additional email headers"
                                                    },
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 12,
                                                    "module": "google-sheets:addRow",
                                                    "version": 2,
                                                    "parameters": {
                                                        "__IMTCONN__": 12901363
                                                    },
                                                    "mapper": {
                                                        "from": "drive",
                                                        "mode": "select",
                                                        "values": {
                                                            "0": "08484949949"
                                                        },
                                                        "sheetId": "الورقة3",
                                                        "spreadsheetId": "/1MDS20dFysBLi_IM_080YfHB-s-EgBjrPBCeq_dso6g4",
                                                        "includesHeaders": true,
                                                        "insertDataOption": "INSERT_ROWS",
                                                        "valueInputOption": "USER_ENTERED",
                                                        "insertUnformatted": false
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 688,
                                                            "y": 93
                                                        },
                                                        "restore": {
                                                            "expect": {
                                                                "from": {
                                                                    "label": "My Drive"
                                                                },
                                                                "mode": {
                                                                    "label": "Search by path"
                                                                },
                                                                "sheetId": {
                                                                    "label": "الورقة3"
                                                                },
                                                                "spreadsheetId": {
                                                                    "path": [
                                                                        "hhll"
                                                                    ]
                                                                },
                                                                "includesHeaders": {
                                                                    "label": "Yes",
                                                                    "nested": [
                                                                        {
                                                                            "name": "values",
                                                                            "spec": [
                                                                                {
                                                                                    "name": "0",
                                                                                    "type": "text",
                                                                                    "label": "phone (A)"
                                                                                },
                                                                                {
                                                                                    "name": "1",
                                                                                    "type": "text",
                                                                                    "label": "(B)"
                                                                                },
                                                                                {
                                                                                    "name": "2",
                                                                                    "type": "text",
                                                                                    "label": "(C)"
                                                                                },
                                                                                {
                                                                                    "name": "3",
                                                                                    "type": "text",
                                                                                    "label": "(D)"
                                                                                },
                                                                                {
                                                                                    "name": "4",
                                                                                    "type": "text",
                                                                                    "label": "(E)"
                                                                                },
                                                                                {
                                                                                    "name": "5",
                                                                                    "type": "text",
                                                                                    "label": "(F)"
                                                                                },
                                                                                {
                                                                                    "name": "6",
                                                                                    "type": "text",
                                                                                    "label": "(G)"
                                                                                },
                                                                                {
                                                                                    "name": "7",
                                                                                    "type": "text",
                                                                                    "label": "(H)"
                                                                                },
                                                                                {
                                                                                    "name": "8",
                                                                                    "type": "text",
                                                                                    "label": "(I)"
                                                                                },
                                                                                {
                                                                                    "name": "9",
                                                                                    "type": "text",
                                                                                    "label": "(J)"
                                                                                },
                                                                                {
                                                                                    "name": "10",
                                                                                    "type": "text",
                                                                                    "label": "(K)"
                                                                                },
                                                                                {
                                                                                    "name": "11",
                                                                                    "type": "text",
                                                                                    "label": "(L)"
                                                                                },
                                                                                {
                                                                                    "name": "12",
                                                                                    "type": "text",
                                                                                    "label": "(M)"
                                                                                },
                                                                                {
                                                                                    "name": "13",
                                                                                    "type": "text",
                                                                                    "label": "(N)"
                                                                                },
                                                                                {
                                                                                    "name": "14",
                                                                                    "type": "text",
                                                                                    "label": "(O)"
                                                                                },
                                                                                {
                                                                                    "name": "15",
                                                                                    "type": "text",
                                                                                    "label": "(P)"
                                                                                },
                                                                                {
                                                                                    "name": "16",
                                                                                    "type": "text",
                                                                                    "label": "(Q)"
                                                                                },
                                                                                {
                                                                                    "name": "17",
                                                                                    "type": "text",
                                                                                    "label": "(R)"
                                                                                },
                                                                                {
                                                                                    "name": "18",
                                                                                    "type": "text",
                                                                                    "label": "(S)"
                                                                                },
                                                                                {
                                                                                    "name": "19",
                                                                                    "type": "text",
                                                                                    "label": "(T)"
                                                                                },
                                                                                {
                                                                                    "name": "20",
                                                                                    "type": "text",
                                                                                    "label": "(U)"
                                                                                },
                                                                                {
                                                                                    "name": "21",
                                                                                    "type": "text",
                                                                                    "label": "(V)"
                                                                                },
                                                                                {
                                                                                    "name": "22",
                                                                                    "type": "text",
                                                                                    "label": "(W)"
                                                                                },
                                                                                {
                                                                                    "name": "23",
                                                                                    "type": "text",
                                                                                    "label": "(X)"
                                                                                },
                                                                                {
                                                                                    "name": "24",
                                                                                    "type": "text",
                                                                                    "label": "(Y)"
                                                                                },
                                                                                {
                                                                                    "name": "25",
                                                                                    "type": "text",
                                                                                    "label": "(Z)"
                                                                                }
                                                                            ],
                                                                            "type": "collection",
                                                                            "label": "Values"
                                                                        }
                                                                    ]
                                                                },
                                                                "insertDataOption": {
                                                                    "mode": "chose",
                                                                    "label": "Insert rows"
                                                                },
                                                                "valueInputOption": {
                                                                    "mode": "chose",
                                                                    "label": "User entered"
                                                                },
                                                                "insertUnformatted": {
                                                                    "mode": "chose"
                                                                }
                                                            },
                                                            "parameters": {
                                                                "__IMTCONN__": {
                                                                    "data": {
                                                                        "scoped": "true",
                                                                        "connection": "google"
                                                                    },
                                                                    "label": "tasks (samiissa4011@gmail.com)"
                                                                }
                                                            }
                                                        },
                                                        "parameters": [
                                                            {
                                                                "name": "__IMTCONN__",
                                                                "type": "account:google",
                                                                "label": "Connection",
                                                                "required": true
                                                            }
                                                        ],
                                                        "expect": [
                                                            {
                                                                "name": "mode",
                                                                "type": "select",
                                                                "label": "Search Method",
                                                                "required": true,
                                                                "validate": {
                                                                    "enum": [
                                                                        "select",
                                                                        "fromAll",
                                                                        "map"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "insertUnformatted",
                                                                "type": "boolean",
                                                                "label": "Unformatted",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "valueInputOption",
                                                                "type": "select",
                                                                "label": "Value input option",
                                                                "validate": {
                                                                    "enum": [
                                                                        "USER_ENTERED",
                                                                        "RAW"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "insertDataOption",
                                                                "type": "select",
                                                                "label": "Insert data option",
                                                                "validate": {
                                                                    "enum": [
                                                                        "INSERT_ROWS",
                                                                        "OVERWRITE"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "from",
                                                                "type": "select",
                                                                "label": "Drive",
                                                                "required": true,
                                                                "validate": {
                                                                    "enum": [
                                                                        "drive",
                                                                        "share",
                                                                        "team"
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "spreadsheetId",
                                                                "type": "file",
                                                                "label": "Spreadsheet ID",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "sheetId",
                                                                "type": "select",
                                                                "label": "Sheet Name",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "includesHeaders",
                                                                "type": "select",
                                                                "label": "Table contains headers",
                                                                "required": true,
                                                                "validate": {
                                                                    "enum": [
                                                                        true,
                                                                        false
                                                                    ]
                                                                }
                                                            },
                                                            {
                                                                "name": "values",
                                                                "spec": [
                                                                    {
                                                                        "name": "0",
                                                                        "type": "text",
                                                                        "label": "phone (A)"
                                                                    },
                                                                    {
                                                                        "name": "1",
                                                                        "type": "text",
                                                                        "label": "(B)"
                                                                    },
                                                                    {
                                                                        "name": "2",
                                                                        "type": "text",
                                                                        "label": "(C)"
                                                                    },
                                                                    {
                                                                        "name": "3",
                                                                        "type": "text",
                                                                        "label": "(D)"
                                                                    },
                                                                    {
                                                                        "name": "4",
                                                                        "type": "text",
                                                                        "label": "(E)"
                                                                    },
                                                                    {
                                                                        "name": "5",
                                                                        "type": "text",
                                                                        "label": "(F)"
                                                                    },
                                                                    {
                                                                        "name": "6",
                                                                        "type": "text",
                                                                        "label": "(G)"
                                                                    },
                                                                    {
                                                                        "name": "7",
                                                                        "type": "text",
                                                                        "label": "(H)"
                                                                    },
                                                                    {
                                                                        "name": "8",
                                                                        "type": "text",
                                                                        "label": "(I)"
                                                                    },
                                                                    {
                                                                        "name": "9",
                                                                        "type": "text",
                                                                        "label": "(J)"
                                                                    },
                                                                    {
                                                                        "name": "10",
                                                                        "type": "text",
                                                                        "label": "(K)"
                                                                    },
                                                                    {
                                                                        "name": "11",
                                                                        "type": "text",
                                                                        "label": "(L)"
                                                                    },
                                                                    {
                                                                        "name": "12",
                                                                        "type": "text",
                                                                        "label": "(M)"
                                                                    },
                                                                    {
                                                                        "name": "13",
                                                                        "type": "text",
                                                                        "label": "(N)"
                                                                    },
                                                                    {
                                                                        "name": "14",
                                                                        "type": "text",
                                                                        "label": "(O)"
                                                                    },
                                                                    {
                                                                        "name": "15",
                                                                        "type": "text",
                                                                        "label": "(P)"
                                                                    },
                                                                    {
                                                                        "name": "16",
                                                                        "type": "text",
                                                                        "label": "(Q)"
                                                                    },
                                                                    {
                                                                        "name": "17",
                                                                        "type": "text",
                                                                        "label": "(R)"
                                                                    },
                                                                    {
                                                                        "name": "18",
                                                                        "type": "text",
                                                                        "label": "(S)"
                                                                    },
                                                                    {
                                                                        "name": "19",
                                                                        "type": "text",
                                                                        "label": "(T)"
                                                                    },
                                                                    {
                                                                        "name": "20",
                                                                        "type": "text",
                                                                        "label": "(U)"
                                                                    },
                                                                    {
                                                                        "name": "21",
                                                                        "type": "text",
                                                                        "label": "(V)"
                                                                    },
                                                                    {
                                                                        "name": "22",
                                                                        "type": "text",
                                                                        "label": "(W)"
                                                                    },
                                                                    {
                                                                        "name": "23",
                                                                        "type": "text",
                                                                        "label": "(X)"
                                                                    },
                                                                    {
                                                                        "name": "24",
                                                                        "type": "text",
                                                                        "label": "(Y)"
                                                                    },
                                                                    {
                                                                        "name": "25",
                                                                        "type": "text",
                                                                        "label": "(Z)"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Values"
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}